@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  font-family: "Merriweather", serif;
  font-weight: 400;
}

body {
  background-color: rgb(222, 176, 176, 0.2);
}

.parent {
  margin: auto;
  margin-top: 50px;
  height: 35vh;
  width: 55vh;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 2em 0.4em rgb(61, 61, 61);
  border-radius: 10px;

  background-color: rgb(208, 240, 226);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid rgb(0, 60, 255);
  font-size: 1em;
  margin-top: 1.5em;
  border-radius: 0.5rem;
  min-width: 80%;
  padding: 15px 20px;
  padding-left: 8px;
}

button {
  margin: auto 10px;
  margin-bottom: 1em;
  border-radius: 0.5em;
  background: none;
  color: #ff8860;
  border: 3px solid;
  padding: 0.7em 2em;
  font-size: 1em;
  transition: all 0.2s;
}

button:hover {
  border-color: #396cd2;
  color: #396cd2;
  box-shadow: 0 0.5em 0.5em -0.4em #396cd2;
  transform: translateY(-0.25em);

  cursor: pointer;
}


.main-todos {
  margin: auto;
  margin-top: 3em;
  padding: 3em;
  border-top: 2px solid black;
  width: 90%;

  background-color: rgb(222, 176, 176, 0.4);


  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2em;
}


.todo1 {
  height: 35vh;
  width: 55vh;
  border: 1px solid black;
  box-shadow: 0.5em 0.5em 2em 0.4em rgb(61, 61, 61);
  border-radius: 10px;
  text-align: center;

  background-color: rgb(208, 240, 226);

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  border-bottom: 1px solid black;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 0;
}

h2 {
  height: 40%;
  width: 90%;
  margin-top: 1em;
  font-size: 1.2em;
}


.todo1 h1,
h2 {
  display: block;
  min-width: 90%;
  text-align: left;
}


.todo-button {
  align-self: flex-end;
  margin-bottom: 1em;
}